**1.integer (int):**

- numerical value with no decimal 
- can be neither negitive or positive or Zero

In [1]:
a = 10
print(a)

10

In [2]:
type(a)

int

**2.Float**

-  a numarical value with decimal

In [3]:
b = 3.5
print(b)

3.5

In [4]:
type(b)

float

**3.Boolean(bool)**

- True/False

In [5]:
b1 = True
print(b1)

True

In [6]:
type(b1)

bool

**5.String(str)**

- a combination or sequence of characters (alphabets,number,special characters)

- We can use single quotes or double to represent strings.

In [7]:
mystring1 = 'hello'
print(mystring1)

mystring2 = "hello"
print(mystring2)

mystring3 = '''hello'''
print(mystring3)

hello
hello
hello

**multi-line string can be denoed using triple quotes, '''or"""**

In [10]:
name = '''data
science'''
print(name)

data
science

In [11]:
var2 = "123"
type(var2)

str

In [13]:
var1 = 123
type(var1)

int

**Length of string**

In [14]:
string = "Hello"
len(string)

5

**f string**

In [15]:
num = 12
name = "Arjun"

print(f"my name is:{name} and my num is: {num}")

my name is:Arjun and my num is: 12

**string Concatination**

- joining of two or more strings into a single one is called concatination.

- the + operator does this in python. simply writing two string literals together also concatenates them.

- **Note**: to use + operator for string, compulsory both shoukd be string type only.

In [16]:
"hello + world"

'hello + world'

In [17]:
'Hello' + " "+ "world"

'Hello world'

In [18]:
"Arjun"+3

TypeError: can only concatenate str (not "int") to str

In [19]:
"Arjun" + "23"

'Arjun23'

In [20]:
"Arjun"+str(3)

'Arjun3'

**Type casting: converting from one data type to another data type**

In [21]:
int(-5)

-5

In [22]:
float(5.6)

5.6

In [23]:
bool(0.00001)

True

In [24]:
str(6)

'6'

In [25]:
int(55.6)

55

In [26]:
bool(3.5)

True

In [27]:
str(5.45)

'5.45'

In [29]:
int(True)

1

In [31]:
float(True)

1.0

In [32]:
int(False)

0

In [33]:
str(False)

'False'

In [34]:
int("nag")

ValueError: invalid literal for int() with base 10: 'nag'

In [35]:
float(int(float("123.45")))

123.0